{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}


th, td {
  padding: 5px;
}

input {
	width: 100%;
	padding-top: 6px;
}

input #id_customer-selectized {
	border: none;
}

textarea {
	width: 100%;
	height: 100%;
}

textarea:focus, input:focus{
    outline: none;
}

ul {
	border-radius: 10px;
	border: solid 1px #CCCCCC;
	height: 200px;
	overflow: auto;
}

.tooltip{
	visibility: hidden;
	position: absolute;
}

.has-tooltip:hover .tooltip {
	visibility: visible;
	margin-top: -36px;
	margin-left: 0px;
	border-radius: 10px;
	border: solid 2px #6366F1;
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
	color: #6366F1;
	font-size: 10px;
	z-index: 100;
}

#myInput {
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	margin-bottom: 12px; /* Add some space below the input */
}


</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

</head>


<div class="md:grid md:grid-cols-5 md:gap-6">
<div class="md:flex justify-center mt-5 md:mt-0 md:col-span-5">

<form method="POST" id="quote_create">
{% csrf_token %}  

<img src="{% static 'images/spacer1.png' %}" alt="Spacer">

	<div class="shadow overflow-hidden sm:rounded-md">


	    <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-dark font-semibold" href="#">Detail</a>

	    <a class="bg-white inline-block py-2 px-4 text-blue hover:text-blue-darker font-semibold" href="{% url 'quotes:quote-list-note' quote.pk %}">Notes</a>


		<div class="panel-1 tab-content active">
	      <div class="mt-10 sm:mt-0">
	          <div class="px-4 py-5 bg-white sm:p-6">


	            <div class="grid grid-cols-6 gap-6">

				<div class="col-span-6 sm:col-span-6">
	          		<img src="{% static 'images/spacer1.png' %}" alt="Spacer">
	          	</div>


	              <div class="col-span-6 sm:col-span-6">

	              	<table width="100%">

	              		<tr>
	              			<td class="inline-flex py-2 text-md font-medium rounded-md text-black">{{ quote.customer.first_name }} {{ quote.customer.last_name }}</td>
	              			<td></td>
	              			<td></td>
	              			<td></td>
	              			<td></td>
	              		</tr>

	              		<tr>
	              			<td>{{ quote.customer.address }} {{ quote.customer.zip_code }}</td>
	              			<td></td>
	              			<td></td>
	              			<td>{{ quote.customer.home_phone }}</td>
	              			<td>{{ quote.customer.email }}</td>
	 
	              		</tr>


	              		<tr>
	              			<td>Quote status: </td>
	              			<td></td>
	              			<td></td>
	              			<td>{{ form.quote_status }}</td>
	              			<td></td>
	              		</tr>



	              	</table>
					
	              </div>

</form>


	              <div class="col-span-6 sm:col-span-6">
					<hr>
	              </div>


	              <div class="col-span-6 sm:col-span-6">


					<form method="POST">
					{% csrf_token %}  

	              	<table width="100%">

	              	<tr>

		              	<td width="80%">
		              		{{ form.product_select }}
		              	</td> 
		              	
		              	<td>
	              		<div class="border-2 border-gray-300 bg-white h-9 px-3 rounded-md text-md focus:outline-none">
	              			{{ form.product_quantity }}
	              		</div>
		              	</td>


						<td>
	              		<input type="submit" name="add_cart" class="border-2 border-gray-300 bg-white h-10 px-3 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" value="Add">
	              		</td>


					</tr>

	              	</table>


					</form>

	              	<hr>

	              </div>



	              <div class="col-span-6 sm:col-span-6">


                	{% if not product_list %}

	                  <div class="sm:w-auto md:w-auto lg:w-auto mt-2 mx-auto bg-white rounded-lg shadow p-4">
	                  No product yet...
	                  </div>
                  

	                {% else %}


	                  	<table width="100%">

	                  		<tr>

	                  		<td width="80%">Description</td>
	                  		<td>Quan.</td>
	                  		<td>Price</td>
	                  		<td></td>

	                  		</tr>


	                  	{% for product in product_list %}

	                  		<tr>
							
	                  		<td>
	                  		{{ product|slice:":32" }}
	                  		</td>

	                  		<td>{{ product.product_quantity }}</td>
	                  		<td>{{ product.product_price }}</td>


	                  		<td>
	                  		<center>
	                  		<input type="checkbox" name="multi_delete" class="form-checkbox h-4 w-4" value="{{ product.id }}">
	                  		</center>
	                  		</td>
	                  			                  		
	                  		</tr>



	                  	{% endfor %}


	                  		<tr>

	                  			<td></td>
	                  			<td></td>
	                  			<td></td>

	                  			<td>
			              		<input type="submit" name="delete_product" value="Remove" class="border-2 border-gray-300 bg-white h-10 px-3 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
			              		</td>

		              		</tr>

						</table>


                  	{% endif %}


	              </div>




	              <div class="col-span-6 sm:col-span-6">

	              </div>


	              <div class="col-span-6 sm:col-span-6">

	                  	<table width="100%">

	                  		<tr>

	                  		<td width="90%">Sub-total:</td>

	                  		<td>
	                  		{{ sub_total|floatformat:2 }}
	                  		</td>

	                  		</tr>

	                  	</table>
            	


	              </div>

	        
	    		</div>

	    	</div>
 		</div>
	</div>

	<div class="px-4 py-3 bg-gray-50 text-right sm:px-6">

		<a href="{% url 'quotes:quote-list' %}" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Cancel</a>

		<button type="submit" name="add_to_invoice" class="border-2 border-gray-300 bg-white h-10 px-3 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" onclick="return confirm('Convert to invoice?');">Add to Invoice</button>

		<button onclick="window.print()" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Print to PDF</button>

		<button type="submit" name="quote_create" form="quote_create" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Update Quote</button>

	</div>


</div>
</div>
</div>

<script>
	
$(document).ready(function () {
  $('select').selectize({
      sortField: 'text',
      placeholder: 'Search...',
  });
});


</script>


{% endblock content %}