{% extends "base.html" %}
{% load static %}

{% block content %}

<style>
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}


input {
	width: 100%;
	padding-top: 6px;
}

input #id_customer-selectized {
	border: none;
}

textarea {
	width: 100%;
	height: 100%;
}

textarea:focus, input:focus{
    outline: none;
}

ul {
	border-radius: 10px;
	border: solid 1px #CCCCCC;
	height: 200px;
	overflow: auto;
}

.tooltip{
	visibility: hidden;
	position: absolute;
}

.has-tooltip:hover .tooltip {
	visibility: visible;
	margin-top: -36px;
	margin-left: 0px;
	border-radius: 10px;
	border: solid 2px #6366F1;
	background-color: white;
	padding-left: 5px;
	padding-right: 5px;
	color: #6366F1;
	font-size: 10px;
	z-index: 100;
}

#myInput {
	font-size: 16px; /* Increase font-size */
	padding: 12px 20px 12px 40px; /* Add some padding */
	margin-bottom: 12px; /* Add some space below the input */
}


</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />

</head>

<div id="panels">
<div class="md:grid md:grid-cols-5 md:gap-6">
<div class="md:flex justify-center mt-5 ml-10 mr-10 md:mt-0 md:col-span-5">

<form method="post">
{% csrf_token %}  


	  <nav class="tabs flex flex-col sm:flex-row">
	      <button data-target="panel-1" class="tab text-gray-600 py-4 px-6 block hover:text-indigo-500 focus:outline-none">
	          Detail
	      </button>

	  </nav>

	<div class="shadow overflow-hidden sm:rounded-md">

		<div class="panel-1 tab-content active">
	      <div class="mt-10 sm:mt-0">
	          <div class="px-4 py-5 bg-white sm:p-6">

	            <div class="grid grid-cols-6 gap-6">

				<div class="col-span-6 sm:col-span-6">
	          		<img src="{% static 'images/spacer1.png' %}" alt="Spacer">
	          	</div>

	              {{ form.non_field_errors }}

	              <div class="col-span-6 sm:col-span-6">
	                {{ form.customer.errors }}
	                <label for="customer" class="block text-sm font-medium text-gray-700">Customer Search</label>

	                {{ form.customer }}

	              </div>

	              <div class="col-span-6 sm:col-span-6">
	                
	                <table>
	                	
	                	<th>
	                		<td>Test</td>
	                		<td>Test</td>
	                	</th>

	                </table>
	                

	              </div>



	      

	              <div class="col-span-6 sm:col-span-6">
	              	<hr>
	              </div>

	              <div class="col-span-6 sm:col-span-6">

	                {{ form.products.errors }}
	                <label for="products" class="block text-sm font-medium text-gray-700">Product Search</label>

	                <input type="text" id="productSearch" onkeyup="productSearchFunction()" placeholder="Search for a product.." class="border-2 border-gray-300 bg-white h-10 px-2 pr-5 rounded-lg text-lg focus:outline-none">

	                <br>
	                <br>

	                {{ form.products }}

	             </div>           

	              <div class="col-span-6 sm:col-span-6">
	              	<hr>
	              </div>


	              <div class="col-span-6 sm:col-span-6">
	              	
					{{ form.as_p }}

	              </div>

					<div class="col-span-6 sm:col-span-6">

					<center>
						<button type="submit" name="add_product" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Add Product</button>

						<button type="submit" name="remove_product" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Remove Product</button>
					</center>

					</div> 


	        
	    		</div>

	    	</div>
 		</div>
	</div>

	<div class="px-4 py-3 bg-gray-50 text-right sm:px-6">

	  <a href="{% url 'quotes:quote-list' %}" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Cancel</a>

	  <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Create Quote</button>

	</div>

</form>

</div>
</div>
</div>

<script>
	
$(document).ready(function () {
  $('select').selectize({
      sortField: 'text',
      placeholder: 'Search for a customer...',
  });
});
</script>

<script>

function productSearchFunction() {
  // Declare variables
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('productSearch');
  filter = input.value.toUpperCase();

  ul = document.getElementById("id_products");
  //li = ul.getElementsByTagName('li');

  li = ul.getElementsByTagName('li');

  // Loop through all list items, and hide those who don't match the search query
  for (i = 0; i < li.length; i++) {
    //a = li[i].getElementsByTagName("a")[0];
    txtValue = li[i].textContent || li[i].innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "inline";
    } else {
      li[i].style.display = "none";
    }
  }
}

</script>

{% endblock content %}