<style>

.dropdown:hover .dropdown-menu {
  display: block;
}

input:hover {
    cursor: hand;
}

.tooltip{
  visibility: hidden;
  position: absolute;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  margin-top: -10px;
  margin-left: 10px;
  border-radius: 8px;
  border: solid 2px #6366F1;
  background-color: white;
  padding: 5px;
  color: #6366F1;
  font-size: 10px;
  z-index: 100;
}

</style>

<div class="text-gray-700 body-font">
  <div class="container mx-auto flex flex-wrap p-2 flex-col md:flex-row items-center">
    <a href="{% url 'landing-page' %}" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">

    <div class="has-tooltip">
      <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
       width="64.000000pt" height="64.000000pt" viewBox="15 10 60 90"
       preserveAspectRatio="xMidYMid meet">

      <g transform="translate(0.000000,100.000000) scale(0.030000,-0.030000)"
      fill="#4F46E5" stroke="none">
      <path d="M1031 2525 c-18 -8 -44 -15 -57 -15 -12 0 -38 -9 -56 -20 -19 -11
      -68 -25 -109 -31 -73 -12 -75 -11 -129 17 -115 59 -245 30 -322 -71 -54 -71
      -65 -135 -38 -211 25 -73 25 -86 -1 -154 -11 -30 -31 -103 -45 -163 -28 -127
      -45 -168 -113 -274 -81 -127 -95 -165 -96 -263 0 -76 4 -93 32 -153 54 -114
      158 -199 335 -274 46 -19 91 -43 101 -53 24 -23 13 -41 -62 -100 -117 -91
      -139 -148 -98 -250 l25 -61 -23 -9 c-40 -15 -91 -75 -105 -123 -24 -88 14
      -196 80 -229 28 -14 61 -18 159 -18 84 0 159 -7 234 -21 99 -19 135 -20 381
      -16 244 4 278 6 345 26 64 20 79 21 116 11 36 -10 53 -9 101 5 68 19 91 37
      110 82 24 56 17 114 -21 189 -24 48 -35 83 -35 114 0 86 -20 216 -45 300 -14
      46 -25 88 -25 94 0 6 35 34 77 61 204 132 302 313 303 558 0 144 -46 331 -116
      465 -10 21 -7 34 23 97 28 60 35 85 34 134 0 142 -94 246 -233 259 -47 4 -75
      -1 -144 -24 -73 -24 -90 -26 -122 -17 -20 6 -74 21 -119 34 -72 21 -83 27 -83
      46 0 15 -5 21 -14 17 -9 -3 -16 6 -20 28 l-7 33 -20 -37 -19 -38 -48 23 c-26
      12 -51 28 -55 35 -10 16 -34 15 -76 -3z m24 -57 c7 -16 20 -24 40 -25 17 -1
      44 -5 61 -8 19 -4 41 -2 54 5 20 11 22 10 16 -5 -5 -14 -2 -17 19 -13 13 3 26
      1 27 -3 2 -5 43 -20 91 -34 113 -32 143 -48 162 -85 9 -17 50 -57 93 -90 84
      -67 226 -216 278 -295 98 -146 141 -435 94 -619 -27 -107 -63 -169 -145 -251
      -144 -145 -342 -211 -662 -222 -194 -6 -331 8 -526 57 -286 70 -480 195 -536
      345 -27 71 -26 176 3 240 l18 40 18 -41 c21 -48 65 -88 116 -104 87 -29 236
      25 299 107 82 108 87 276 9 344 -59 52 -145 73 -218 54 -28 -7 -53 -11 -56 -9
      -9 10 31 142 67 214 27 57 56 95 122 161 132 132 271 199 410 199 62 0 70 2
      96 30 34 36 37 36 50 8z m-603 -855 c22 -20 23 -61 1 -85 -34 -38 -103 -11
      -103 40 0 54 62 81 102 45z m1212 -893 c27 -83 43 -212 32 -254 -5 -21 -14
      -26 -54 -32 -26 -3 -65 -14 -87 -24 -103 -44 -143 -171 -84 -267 23 -38 20
      -41 -65 -59 -77 -17 -514 -19 -621 -3 -69 11 -78 15 -109 50 -46 54 -83 125
      -101 194 -24 93 -22 100 40 139 65 42 130 123 186 229 l40 77 67 -7 c37 -5
      141 -8 232 -7 176 1 271 15 398 59 67 23 67 23 84 3 10 -11 29 -55 42 -98z
      m-1149 -310 c0 -30 -32 -35 -49 -7 -8 14 -8 20 4 27 24 16 45 7 45 -20z"/>
      <path d="M1250 1800 c-216 -44 -292 -229 -164 -399 78 -105 198 -171 308 -171
      162 0 289 131 289 296 0 182 -217 319 -433 274z m82 -257 c22 -20 23 -61 1
      -85 -34 -38 -103 -11 -103 40 0 54 62 81 102 45z"/>
      <path d="M621 1396 c-16 -20 1 -60 38 -87 24 -17 31 -31 31 -56 0 -18 -4 -33
      -10 -33 -5 0 -10 -5 -10 -11 0 -7 9 -9 22 -6 12 4 28 1 35 -5 17 -14 30 -1 15
      14 -21 21 -15 66 11 73 125 38 115 91 -24 114 -84 14 -94 14 -108 -3z"/>
      </g>
      </svg>
      <span class="tooltip">Simplify your workflow</span>
  	  </div>


      <span>
      <div class="ml-3 text-xl font-black">BLUE PANDA</div>
      <div class="ml-3 text-sm text-indigo-500">Simplify your workflow</div>
      </span>

    </a>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">

    {% if not request.user.is_authenticated %}
      <a href="{% url 'signup' %}" class="mr-5 hover:text-gray-900">Sign up</a>
    {% else %}

      {% if request.user.is_organisor %}
        <a href="{% url 'agents:agent-list' %}" class="mr-5 hover:text-gray-900">Agents</a>
      {% endif %}

    {% endif %}

    </nav>

    {% if request.user.is_authenticated %}

      <div class="dropdown inline-block relative z-10">

        <label class="flex items-center space-x-1 cursor-pointer py-2 text-lg">
        <span class="px-2">{{ request.user.username }}</span>
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">

			<path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M21.001 28l10.994 13 11.006-13"></path>
			<circle data-name="layer1" cx="32" cy="32" r="30" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"></circle> 

        </svg>
        </label>

        <ol class="dropdown-menu absolute hidden text-gray-600 bg-white border border-gray-300 rounded-lg">
          <li><a href="#" class="block px-5 pr-10 mt-3 mr-10">Preference</a></li>
          <li><a href="{% url 'logout' %}" class="block px-5 pr-10 mt-3 mb-4 mr-10">Logout</a></li>
        </ol>

      </div>

    {% else %}
      <a href="{% url 'login' %}" class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Login</a>
    {% endif %}

    </button>
  </div>
</div>

<div class="align-bottom inline-block w-full sm:px-0 lg:px-0 mt-2 mb-5">
<div class="flex flex-col">
<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
<div class="align-middle inline-block min-w-full sm:px-6 lg:px-8">

<table class="min-w-full divide-y divide-gray-200">
<tr>

<th class="pr-10">
</th>

<th class="pr-10">
</th>

<th class="has-tooltip">
<svg class="fill-current h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><circle data-name="layer2" cx="32" cy="32" r="30" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"></circle><path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M8 32h6M32 8v5.999M50 32h6M45 20l4-4"></path><path data-name="layer1" d="M15.183 16.544A.975.975 0 0 1 15 16a1 1 0 0 1 1.489-.873l18.748 11.821a5.999 5.999 0 1 1-8.153 8.486z" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"></path></svg>
<span class="tooltip">DASHBOARD</span>
</th>

<th>
<a href="{% url 'leads:lead-list' %}" class="has-tooltip">
<svg class="fill-current h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
<path data-name="layer2" d="M12 62h41a3 3 0 0 0 3-3V5a3 3 0 0 0-3-3H12zM48 2v60M14 8H8m6 16H8m6 32H8m6-16H8" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"></path>
<path data-name="layer1" d="M38 29.8a8.7 8.7 0 0 1-3 6V37c0 .8.4 2 3.8 2.7S42 44 42 44H22s0-3.6 3.3-4.3S29 37.8 29 37v-1.2a8.2 8.2 0 0 1-3-5.8v-3.7a6.5 6.5 0 0 1 6-6.3 6.3 6.3 0 0 1 6 6z" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"></path></svg>
<span class="tooltip">LEADS</span>
</a>
</th>

<th>
<a href="{% url 'products:product-list' %}" class="has-tooltip">
<svg class="fill-current h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
<path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M62 15.3L32 2 2 15.3v33.4L32 62l30-13.3V15.3z"></path>
<path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M2 15.3l30 13.3 30-13.3M18.4 8l30 13.3M32 28.6V62"></path>
<path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M54 31.6l-12 5.3v11.3l12-5.3V31.6z"></path></svg>
<span class="tooltip">PRODUCTS</span>
</a>
</th>

<th>
<a href="{% url 'suppliers:supplier-list' %}" class="has-tooltip">
<svg class="fill-current h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M38 19h14l6 12 4 4v8"></path><path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M2 43V7h36v36"></path><circle data-name="layer1" cx="14" cy="51" r="6" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"></circle><circle data-name="layer1" cx="50" cy="51" r="6" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"></circle><path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M44 51H20M8 51H2v-8h60v8h-6"></path></svg>
<span class="tooltip">SUPPLIERS</span>
</th>

<th class="has-tooltip">
<a href="{% url 'quotes:quote-list' %}" class="has-tooltip">
<svg class="fill-current h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path data-name="layer2" d="M40 18h19a3 3 0 0 1 3 3v30a3 3 0 0 1-3 3H40m14-36v36" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"></path><rect data-name="layer1" x="2" y="2" width="38" height="60" rx="3" ry="3" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"></rect><path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M10 10h22v16H10zm0 26h2m8 0h2m8 0h2m-22 8h2m8 0h2m8 0h2m-22 8h2m8 0h2m8 0h2"></path></svg>
<span class="tooltip">QUOTES</span>
</th>

<th class="has-tooltip">
<a href="{% url 'invoices:invoice-list' %}" class="has-tooltip">
<svg class="fill-current h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M10 10h26v26H10z"></path><path data-name="layer2" d="M14 56H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h54a3 3 0 0 1 3 3v48a3 3 0 0 1-3 3H34M10 44h28" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"></path><path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M14 44h20v18H14z"></path><path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M42 16h14m-12 8h2m6 0h2m-10 8h2m6 0h2"></path></svg>
<span class="tooltip">INVOICES</span>
</th>

<th>
<a href="{% url 'scheduler:schedule-list' %}" class="has-tooltip">
<svg class="fill-current h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path data-name="layer1" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2 6h60v12H2zm0 12v40h60V18"></path><path data-name="layer2" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 26h36v24H14zm0 12h36M26 26v24m12-24v24"></path><circle data-name="layer1" cx="8" cy="12" r="1" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle><circle data-name="layer1" cx="15" cy="12" r="1" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle><circle data-name="layer1" cx="22" cy="12" r="1" fill="none" stroke="#202020" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle></svg>
<span class="tooltip">CALENDAR</span>
</a>
</th>

<th class="has-tooltip">
<svg class="fill-current h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M11 2v60h44V18L39 2H11z"></path><path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M39 2v16h16"></path><path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M19 26v28h26"></path><path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M19 46l10-10 6 4.9L45 30"></path></svg>
<span class="tooltip">REPORTS</span>
</th>

<th class="has-tooltip">
<svg class="fill-current h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64"><path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M32.2 52H2V2h43.3L52 8.7v27.5"></path><path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M44 32v-4H10v24m24-42v4m8-12v16.3a1.7 1.7 0 0 1-1.7 1.7H23.7a1.7 1.7 0 0 1-1.7-1.7V2"></path><circle data-name="layer1" cx="46.8" cy="47" r="5" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"></circle><path data-name="layer1" d="M62 51l-3.4-2a11.6 11.6 0 0 0 0-4.3l3.1-1.7-4-6.9-3.1 1.8a12 12 0 0 0-3.7-2.1V32h-8v3.7a12 12 0 0 0-3.7 2.1L36 36l-4 7 3 1.7a11.7 11.7 0 0 0-.2 2.3 11.9 11.9 0 0 0 .2 2.1L31.7 51l4 6.9 3.3-1.8a12 12 0 0 0 3.8 2.2V62h8v-3.7a12.1 12.1 0 0 0 3.9-2.3l3.3 2z" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"></path></svg>
<span class="tooltip">SETTINGS</span>
</th>

<th class="pr-10">
</th>

<th class="pr-10">
</th>

</tr>
</table>

</div>
</div>
</div>
</div>