{% extends "base.html" %}
{% load static %}

{% block content %}

<style>

.tooltip{
  visibility: hidden;
  position: absolute;
}

.has-tooltip:hover .tooltip {
  visibility: visible;
  margin-top: -36px;
  margin-left: 0px;
  border-radius: 8px;
  border: solid 2px #6366F1;
  background-color: white;
  padding: 5px;
  color: #6366F1;
  font-size: 10px;
  z-index: 100;
}

</style>

<div class="align-bottom inline-block min-w-full sm:px-0 lg:px-0">
<div class="whitespace-nowrap">

<div class="fixed bg-white grid grid-cols-7 gap-5">

	<div class="bg-white col-span-1 sm:col-span-1">
    	<div class="relative mx-auto text-gray-600">
      	<div class="border-2 border-gray-300 bg-white rounded-lg text-sm focus:outline-none">

			  <div class="dropdown inline-block relative">

			    <label class="flex items-center space-x-1 cursor-pointer py-2 text-sm">
			      <span class="px-5">Choose action</span>
			      <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/> </svg>
			    </label>

			    <ul class="dropdown-menu absolute hidden text-gray-600 bg-white border border-gray-300 rounded-lg">

                <li><a href="{% url 'suppliers:supplier-create' %}" class="block px-5 py-4 pr-5">Create new supplier</a></li>

                <li><a href="{% url 'suppliers:supplier-upload' %}" class="block px-5 mb-4 pr-5">Upload CSV file</a></li>

	          	  <form method="POST">
	          	  {% csrf_token %}
	              <li><a href="#" class="block px-5 py-0 pr-5"><input type="submit" class="bg-white" name="export_csv" value="Export CSV"></a>
	          	  </li>
	              </form>

                <form method="POST" id="bulk_delete_box" onsubmit="return confirm('Do you really want to do this?');">
                {% csrf_token %}
                <li><a href="#" class="block px-5 mb-4 pr-10"><input type="submit" class="bg-white" id="bulk_delete" name="bulk_delete" value="Bulk Delete"></a>
                </li>

                <li><a href="#" class="block px-5 mb-4 pr-10"><input type="submit" class="bg-white" id="bulk_delete" name="bulk_deactivate" value="Bulk Deactivate"></a>
                </li>
                </form>

			          </ul>
        </div>

      </div>
    </div>
	</div><!-- end of float left div -->

  <div class="col-span-1 sm:col-span-1">

  </div>

  <div class="col-span-1 sm:col-span-1">

  </div>

  <div class="col-span-1 sm:col-span-1">
 
  <form method="GET">

      <select name="active" class="inline-flex justify-center h-10 px-2 mr-2 border-2 border-gray-300 bg-white rounded-lg text-sm focus:outline-none">

      <option value="YES" />Active Records</option>
      <option value="NO" />None Active</option>

    </select>
  
  </div>


  <div class="col-span-1 sm:col-span-1">

   <input class="border-2 border-gray-300 bg-white h-10 w-30 px-1 mr-1 rounded-lg text-sm focus:outline-none" type="date" name="start_date" placeholder="Start">

  </div>

  <div class="col-span-1 sm:col-span-1">

  <input class="border-2 border-gray-300 bg-white h-10 w-30 px-1 mr-1 rounded-lg text-sm focus:outline-none" type="date" name="end_date" placeholder="End">

  </div>


  <div class="col-span-1 sm:col-span-1">

  <div class="relative mx-auto text-gray-600">

  <input class="border-2 border-gray-300 bg-white h-10 w-30 px-1 rounded-lg text-sm focus:outline-none" type="search" name="q" placeholder="Search">

    <button type="submit" class="absolute right-0 top-0 mt-3 mr-4">

      <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
        viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
        width="512px" height="512px">
        <path
          d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
      </svg>

    </button>

</form>

  </div>

  </div>


</div>

<br/>
<br/>
<br/>

<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">

        <table class="min-w-full divide-y divide-gray-200">

          <thead class="bg-gray-50">

            <tr class="bg-indigo-500">
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>
            <th>
            </th>

            <th  scope="col" class="text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <div class="text-white text-sm focus:outline-none">
              Select all {{ page_obj.paginator.count }}
            </div>
            </th>

            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              <div class="has-tooltip">
              <input type="checkbox" form="bulk_delete_box" id="delete_all" name="delete_all" class="checkbox h-4 w-4" value="{{ supplier.pk }}" onClick="toggle(this)">
              <span class="tooltip">Select all</span></div>
            </th>

            </tr>

            <tr>

              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">

                <a href="{% url 'suppliers:supplier-list' %}?ordering=business_name&order={% if order == 'desc' %}asc{% else %}desc{% endif %}" class="has-tooltip">
                <span class="tooltip">Sort by business name</span>
                Business Name
                </a>

              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">

                <a href="#" class="has-tooltip">
                <span class="tooltip" class="has-tooltip">User reviews</span>
                Review
                </a>

              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">

                <a href="{% url 'suppliers:supplier-list' %}?ordering=address&order={% if order == 'desc' %}asc{% else %}desc{% endif %}" class="has-tooltip">
                <span class="tooltip" class="has-tooltip">Sort by address</span>
                Address
                </a>

              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                
                <a href="{% url 'suppliers:supplier-list' %}?ordering=zip_code&order={% if order == 'desc' %}asc{% else %}desc{% endif %}" class="has-tooltip">
                <span class="tooltip" class="has-tooltip">Sort by Zip Code</span>
                Zip Code
                </a>

              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                
                <a href="{% url 'suppliers:supplier-list' %}?ordering=home_phone&order={% if order == 'desc' %}asc{% else %}desc{% endif %}" class="has-tooltip">
                <span class="tooltip" class="has-tooltip">Sort by home phone</span>
                Home Phone
                </a>

              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                
                <a href="{% url 'suppliers:supplier-list' %}?ordering=email&order={% if order == 'desc' %}asc{% else %}desc{% endif %}" class="has-tooltip">
                <span class="tooltip" class="has-tooltip">Sort by email</span>
                Email
                </a>

              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                <div class="has-tooltip">
                Edit
                <span class="tooltip">edit</span></div>
              </th>
              <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                <div class="has-tooltip">
                <input type="checkbox" onClick="toggle(this)" class="checkbox h-4 w-4">
                <span class="tooltip">Select current page</span></div>
              </th>
            </tr>
          </thead>

          <tbody class="bg-white divide-y divide-gray-200">
            {% for supplier in object_list %}

            <tr class="{% cycle 'bg-white' 'bg-gray-50' %} hover:bg-indigo-50" id='row-link'>

              <td class="px-6 py-4 whitespace-nowrap">
                <div class="flex items-center">

                  <div class="flex-shrink-0 h-10 w-10">

                  	<svg class="fill-current h-10 w-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
						<path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M38 19h14l6 12 4 4v8"></path>
						<path data-name="layer2" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M2 43V7h36v36"></path>
						<circle data-name="layer1" cx="14" cy="51" r="6" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"></circle>
						<circle data-name="layer1" cx="50" cy="51" r="6" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2"></circle>
						<path data-name="layer1" fill="none" stroke="#202020" stroke-miterlimit="10" stroke-width="2" d="M44 51H20M8 51H2v-8h60v8h-6"></path>
          			</svg>

                  </div>

                  <div class="ml-4">
                    <div class="text-sm font-medium text-gray-900">
                      {{ supplier.business_name|slice:":36" }}
                    </div>
                  </div>

                </div>
              </td>

              <td class="px-3 py-4 whitespace-nowrap">
                <fieldset class="starability-result mx-auto text-sm" data-rating="{{ supplier.get_avg_rating }}">
                </fieldset>
              </td>

              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ supplier.address|slice:":50" }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ supplier.zip_code }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap">
                <div class="text-sm text-gray-900">{{ supplier.home_phone }}</div>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                <div class="text-sm text-gray-900">{{ supplier.email|slice:":48" }}</div>                                
              </td>

              <td class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium">
                <a href="{% url 'suppliers:supplier-update' supplier.pk %}" class="text-indigo-600 hover:text-indigo-900">Edit</a>
              </td>


                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <div class="text-sm text-gray-900">
                  	<input type="checkbox" form="bulk_delete_box" id="bulk_delete" name="multi_delete" class="form-checkbox h-4 w-4" value="{{ supplier.pk }}">
                  </di>                               
                </td>

            </tr>

            <!-- More items... -->
            {% endfor %}

          </tbody>
        </table>

      </div>
    </div>
  </div>
</div><!-- end of flex col -->

<!-- Pagination Section -->

{% if is_paginated %}
<!-- This example requires Tailwind CSS v2.0+ -->

<div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
  	<div class="flex-1 flex justify-between sm:hidden">

      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
          Previous
        </a>
      {% endif %}

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:text-gray-500">
          Next
        </a>
      {% endif %}

    </div>

    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-center">

        <nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px" aria-label="Pagination">

          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
              <span class="sr-only">Previous</span>
              <!-- Heroicon name: solid/chevron-left -->
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
            </a>
          {% endif %}

          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}

              <a href="?page={{ i }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 bg-indigo-50">
                {{ i }}
              </a>

            {% elif i > page_obj.number|add:'-12' and i < page_obj.number|add:'12' %}

              <a href="?page={{ i }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50">
                {{ i }}
              </a>
                      
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
              <span class="sr-only">Next</span>
              <!-- Heroicon name: solid/chevron-right -->
              <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
            </a>
          {% endif %}

        </nav>

    </div>
  </div>

    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-center">
        <p class="text-sm text-gray-700">
          Showing
          <span class="font-medium">{{ page_obj.start_index }}</span>
          to
          <span class="font-medium">{{ page_obj.end_index }}</span>
          of
          <span class="font-medium">{{ page_obj.paginator.count }}</span>
          results
        </p>
    </div><!-- end start, end paginator -->

</div>

{% endif %}

<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript">
</script>

<script type="text/javascript">

function toggle(source) {
  checkboxes = document.getElementsByName('multi_delete');
  for(var i=0, n=checkboxes.length;i<n;i++) {
    checkboxes[i].checked = source.checked;
  }
}


</script>

{% endblock content %}


